<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1064306284858-v3punbe7649d4c6i7ouhmafrnu8gha7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064306284858-v3punbe7649d4c6i7ouhmafrnu8gha7v</string>
	<key>API_KEY</key>
	<string>AIzaSyASLhnJohMp06RWEBFffh5itgmZ8h8-xnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1064306284858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.KidsSaveOcean</string>
	<key>PROJECT_ID</key>
	<string>kids-save-ocean</string>
	<key>STORAGE_BUCKET</key>
	<string>kids-save-ocean.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064306284858:ios:5927734780e9a25e</string>
	<key>DATABASE_URL</key>
	<string>https://kids-save-ocean.firebaseio.com</string>
</dict>
</plist>