<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815331441702-nkr7cjivm4vrmi3b33k9r6s2k7r2i753.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815331441702-nkr7cjivm4vrmi3b33k9r6s2k7r2i753</string>
	<key>API_KEY</key>
	<string>AIzaSyBvnSeAQiQ8LfvMGLqBF9zcw39yYGFUWNo</string>
	<key>GCM_SENDER_ID</key>
	<string>815331441702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KidsSaveOcean</string>
	<key>PROJECT_ID</key>
	<string>kids-save-ocean-test</string>
	<key>STORAGE_BUCKET</key>
	<string>kids-save-ocean-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815331441702:ios:9c95c38a3b60f6ff633ae7</string>
	<key>DATABASE_URL</key>
	<string>https://kids-save-ocean-test.firebaseio.com</string>
</dict>
</plist>